.App {
  text-align: center;
}

.example {
  min-width: 245px !important;
  /* max-height: 350px; */
  border: 5px solid #c9b4b4;
  overflow-x: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.ridges {
  position: relative;
  border-style: ridge;
}
.paddings{
  margin-left: 1px;
  border-radius: 2%;
  color:darkgray; 
}
.paddingss:hover{
  color:antiquewhite;
}
